header {
  background-color: #00008b;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: left;
}
a {
  color: inherit;
  text-decoration: none;
}
.ativo {
  display: none;
}
main {
  background-color: #eeeeee;
  padding: var(--padding);
}
